<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="style.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    </style>


</head>
<body>
    
<header>
    <h1>Bem vindo ao Flask</h1>
</header>

    
<main>
    
        <h2>O que é Python?</h2>


        <h3>Para que serve?</h3>

        <p>
            Python é uma linguagem de programação versátil usada em várias áreas da tecnologia, como desenvolvimento web, automação de tarefas e análise de dados. Ela permite criar sistemas, automatizar processos do dia a dia e desenvolver soluções com inteligência artificial de forma simples e eficiente.
        </p>

        <h3>Vantagens de usar Python na vida profissional.</h3>


        <p>

            Python é uma linguagem muito útil na vida profissional por ser simples e eficiente, ajudando no desenvolvimento de soluções rápidas.
        
        </p>
        <ul>
            <li><strong>Fácil de aprender:</strong> sintaxe simples e clara;</li>


            <li><strong>Alta produtividade: </strong> permite criar programas com menos código;</li>


            <li><strong>Muitas bibliotecas:</strong> facilita resolver problemas rapidamente;</li>


            <li><strong>Boa demanda no mercado:</strong> usada em várias áreas da tecnologia;</li>


            <li><strong> Grande comunidade:</strong> fácil encontrar ajuda e materiais.</li>
        </ul>

        


        <h2>O que é POO (Programação Orientada a Objetos)?</h2>


        <h3>Conceito</h3>


        <p>

            A Programação Orientada a Objetos (POO) organiza o código criando "moldes" chamados classes, que representam coisas do mundo real. A partir desses moldes, criamos objetos que possuem características próprias (atributos) e ações (métodos), como um carro que tem cor e pode acelerar. Essa estrutura facilita o reaproveitamento de código e a organização, permitindo que você altere uma parte do sistema sem bagunçar as outras. No fim das contas, programar em POO é como montar um sistema usando blocos independentes que conversam entre si.

        </p>

        <h3>Qual a vantagem de utilizar o POO?</h3>


        <p>

            A principal vantagem de utilizar a Programação Orientada a Objetos (POO) é a melhor organização do código, facilitando o desenvolvimento e a manutenção de sistemas.

        </p>
            <ol>
                <li><strong>Organização:</strong> o código fica dividido em partes menores (objetos);</li>
                <li><strong>Reutilização:</strong> permite reaproveitar código em diferentes projetos;</li>
                <li><strong>Manutenção fácil:</strong> erros podem ser encontrados e corrigidos com mais facilidade;</li>
                <li> <strong>Trabalho em equipe:</strong> facilita o desenvolvimento colaborativo.</li>
            </ol>

        
    
    
</main>

<footer>

    Pesquisa de Python e POO (Programação Orientada a Objetos) utilizando o Flask para a  comunicação entre HTML e Back End 

</footer>

</body>
</html>